<html>
    <head>
        <title>Calculator</title>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="assets/javascripts/vuejs/vue.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/jquery/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/bootstrap/bootstrap.js"></script>
        <script type="text/javascript" src="assets/javascripts/underscore/underscore.js"></script>
        <link rel="stylesheet" href="assets/stylesheets/bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/stylesheets/bootstrap/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="assets/stylesheets/main.css"/>
        <script type="application/javascript">


            $(function () {

                example1 = new Vue({
                    el: '#timeline',
                    data: {
                        items: []
                    }
                });

                webSockMessage();
                webSockUser();


            });

            function webSockUser() {
                // Google example code
                ws = new WebSocket("ws://localhost:9000/api/usersstream");
                ws.onopen = function () {
                    // Web Socket is connected. You can send data by send() method
                    console.log("ws users open");
                };
                ws.onmessage = function (evt) {
                    var received_msg = evt.data;
                    example1.items.push({message: received_msg})
                };
                ws.onclose = function () {
                    console.log("close users ws");
                }
            }

            function webSockMessage() {
                // Google example code
                ws = new WebSocket("ws://localhost:9000/api/messagestream");
                ws.onopen = function () {
                    // Web Socket is connected. You can send data by send() method
                    console.log("ws message open");
                };
                ws.onmessage = function (evt) {
                    var d = JSON.parse(evt.data);
                    console.log(d);
                    var received_msg = d.name + ">  " + d.message;
                    $("#display").text(received_msg);
                };
                ws.onclose = function () {
                    console.log("close message ws");
                }
            }

            function checkZero(val) {
                if (val == "0") {
                    return ""
                } else {
                    return val;
                }
            }

            function checkDoublon(op) {
                var currentDisp = $("#display").val();
                return (currentDisp.indexOf(op) == -1) && (_.intersection(_.toArray(currentDisp), ["*", "/", "+", "-"]).length == 0);
            }

            function getOp2(val) {
                if (val != "") {
                    return val.split($("body").data("operateur"))[1];
                } else {
                    return "";
                }
            }

            function getjson() {
                return $("body").data();
            }
            function addJson(key, val) {
                return $("body").data(key, val);
            }

            function sendMessage() {
                addJson("message", $("#message").val());
                addJson("name", $("#name").val());

                //$.get("/api/messages/", JSON.stringify(getjson()));

                $.post(
                        "/api/messages/",
                        JSON.stringify(getjson()),
                        function (data, status) {
                            console.log(status + "-" + data);
                        },
                        "json"
                ).fail(function () {
                    $("#display").val("Error!");
                })
            }






        </script>

    </head>
    <body >

        <div id="display" class="myDiv">
            wait...
        </div>

        <button class="btn btn-info" type="button" value="update" onclick="sendMessage()">Update filter</button>
        <input type="text" id="message" class="myDiv"/>

        <input type="text" id="name" class="myDiv" />


        <div class="row">
            <div class="col-md-2"></div>
            <div id="timeline" class="panel panel-default col-md-8">
                <div v-for="item in items">
                    {{ item.message }}
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </body>
</html>